In [5]:
import numpy as np
import pandas as pd

In [8]:
file = r'SA messi_before.xlsx'
df = pd.read_excel(file)

In [9]:
df.head()

   Unnamed: 0 label
0         NaN   pos
1         NaN   neg
2         NaN   pos
3         NaN   pos
4         NaN   neg

In [10]:
df['label'].value_counts()

pos    16
neg    10
Name: label, dtype: int64